{% extends "base.html" %}

{% block content %}
<!-- Displays all available savings groups in the system
    users can browse and join groups -->
<h2>Available Groups</h2>

{% if groups %}
    <!-- Loop through all groups retrieved from database -->
    {% for group in groups %}
        <div class="card group-card">
                <!-- Group identification -->
            <h3 class="group-header">{{ group.name }}</h3>
<!-- Financial requirement per member -->
            <p>💰 Contribution: {{ group.contribution_amount }}</p>
           <!-- Current number of participants in group -->
            <p>👥 Members: {{ group.members|length }}</p>

            <!-- Sends POST request to backend to create membership
                 This triggers GroupMember creation in database-->
            <form method="POST" action="{{ url_for('main.join_group', group_id=group.id) }}">
                <button class="btn btn-primary">
                    Join Group
                </button>
            </form>

        </div>
    {% endfor %}
{% else %}
    <p>No groups available yet.</p>
{% endif %}

{% endblock %}