<div class="group-header">
    <h3 class="group-title">{{ group.name }}</h3>

    {% if group.is_payout_locked %}
        <span style="font-size: x-large;">🔒</span>
    {% else %}
        <span style="font-size: x-large;">🔓</span>
    {% endif %}

    {% if group.owner_id == current_user.id %}
        <button class="btn btn-secondary" alternate="Reset Group" onclick="resetPayouts({{ group.id }})">
            🔄
        </button>
    {% endif %}
</div>



<div class="table-container">
<table class="custom-table">
    <tr>
        <th>Member</th>
        <th>Position</th>  {#order of payout#}
        <th>Status</th>
        <th>Payout Date</th>
        <th>Proof</th>
    </tr>

    {% for member in members %}
    <tr>
        <td>{{ member.user.full_name }}</td>

        {#payout position#}
        <td>
            {{  member.payout_position if member.payout_position else "Not assigned" }}
        </td>

        {#  paid status flag #}
        <td>
            {% if member.has_received %}
                <span class="status done">Paid</span>
            {% else %}
                <span class="status waiting">Waiting</span>
            {% endif %}
        </td>

        <td>
            {% set payout = group.payouts
                | selectattr("recipient_id", "equalto", member.user_id)
                | first %}

            {% if payout %}
                {% set payment = payment_map.get((payout.id, current_user.id)) %}
            {% else %}
                {% set payment = None %}
            {% endif %}

            {{ payout.payout_date if payout else "-" }}
        </td>

        <td>
            {#
               search for the payment they made for the current active payout cycle.
            #}

            {% set payout = current_payout %}

            {% if payout %}
                {% set payment = payment_map.get((payout.id, member.user_id)) %}

                {#
                    payment_map key = (payout_id, payer_id)
                   match if this member pay this payout
                #}

                {% if payment and payment.proof_image %}
                    <button onclick="viewProof('{{ payment.proof_image }}')">
                        View Proof
                    </button>
                {% else %}
                    -
                {% endif %}
            {% else %}
                -
            {% endif %}
        </td>


    </tr>
    {% endfor %}
</table>
</div>

<br>

{# Only group owner can generate payout schedule#}
{% if group.owner_id == current_user.id %}
    <button class="btn btn-primary" onclick="generatePayouts({{ group.id }})">
        Generate Payout
    </button>

    <button class="btn btn-secondary" onclick="lockPayouts({{ group.id }})">
        {% if group.is_payout_locked %}
            🔓 Unlock
        {% else %}
            🔒 Lock
        {% endif %}
    </button>

{% endif %}

{# upload proof#}
{% if current_payout %}

    {% if current_user.id == current_payout.recipient_id %}
        <button class="btn btn-secondary" onclick="alert('This does not apply to you')">
            Upload Proof
        </button>
    {% else %}
        {% set payment = payment_map.get((current_payout.id, current_user.id)) %}

        {% if payment %}
            <button class="btn btn-secondary"
                onclick="openUploadModal({{ payment.id }})">
                Upload Proof
            </button>
        {% else %}
            <button class="btn btn-secondary" disabled>
               No Payment Found
            </button>
        {% endif %}
    {% endif %}

{% endif %}

{#Delete group#}
{% if group.owner_id == current_user.id %}
<button class="btn btn-danger" onclick="deleteGroup({{ group.id }})">
    Delete Group
</button>
{% endif %}

<script>
    window.currentUserId = {{ current_user.id }};
</script>

{#This modal pops up when the user clicks "upload proof" allowing the user to select a file and send it to backend#}

<div id="uploadModal" class="modal" style="display:none;">
    <div class="modal-content">
        <span class="close" onclick="closeUploadModal()">
            &times;
        </span>

        <h2>Upload Proof</h2>

        <input type="file" id="proofFile"/>  {# file input for selecting image #}

        <button class="btn btn-primary" onclick="submitProofUpload()">
            Submit Proof
        </button>

        {# Debug #}
        <div style="margin-top: 10px; font-size: 12px; color:gray;">
            Upload Debug:
            <span id="uploadDebug">waiting..</span>
        </div>
    </div>
</div>

{# https://emojidb.org/website-emojis #}