{% extends "base.html" %}

{% block content %}
<div class="card">
    <h2>Login</h2>

    <form method="POST" action="">
        {{ form.hidden_tag() }}

        <label>{{ form.email.label }}</label><br>
        {{ form.email(size=32) }}<br><br>

        <label>{{ form.password.label }}</label><br>
        {{ form.password(size=32) }}<br><br>

        <label>{{ form.remember.label }}</label><br>
        {{ form.remember() }}<br><br>

        {{ form.submit }}
    </form>
</div>
{% endblock %}


